/* tipografia institucional */
@font-face{
  font-family: 'Hand';
  src: url("../fonts/Hand_Of_Sean_Demo.ttf");
}

/* colores institucionales */
.background-naranja{
  background-color: #FC7323;
  border-color: #FC7323;
  color: #FFFFFF;
}
.color-naranja{
  color: #FC7323;
}
.color-blanco{
  color: #FFFFFF;
}
.color-rojo{
  color: rgb(235, 48, 48);
}
.border-naranja{
  border: 1px solid #FC7323;
}

/* iconos */
.fa-minus-circle{
  justify-content: center;
}
.vertical{
  margin-top: 84%;
}
/* sidenav personalizado */
.nav-pills .nav-link:not(.active):hover{
  color: #FC7323;
}
[class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link {
  background-color: #FC7323;
  color: #FFFFFF;
}
#iconos-sidenav{
  color: #FC7323;
}
#text-sidenav{
  font-family: 'Hand';
  color: #FFFFFF;
}

/* card personalizada */
.card-title{
  font-family: 'Hand';
  float: none;
  text-align: center !important;
  color: #FC7323;
  font-size: 25px;
}
.card-outline{
  border-top: 3px solid #FC7323 !important;
}

/* footer */
footer.footer-auth{
  color: #FC7323;
  flex-shrink: 0;
  font-family: 'Calibri';
}
footer.footer-auth .iconos{
  color: #FC7323;
  font-size: 20px;
}
footer.footer-auth .copyright{
  line-height: 1;
  font-size: 1.18rem;
  color: #FC7323;
}
footer.footer-auth .copyright_two{
  color: #FC7323;
  line-height: 1;
  font-size: 1rem;
  text-align: right !important;
}
footer.footer-auth .nuestra-autoria{
  font-family: 'Hand';
  color: #FFFFFF;
  line-height: 1;
  font-size: 0.8rem;
  text-align: right !important;
}
body.sidebar-toggled footer.footer-auth{
  width: 100%;
}

/* input personalizado */
input[type="text"]:focus,
input[type="date"]:focus,
input[type="int"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="time"]:focus,
input[type="file"]:focus{
  border-color: #FC7323;
}
.custom-file-input:focus{
  border-color: #FC7323 !important;
}

/*Textarea focus*/
textarea.form-control:focus {
    border-color: #FC7323;
}

/* select personalizado */
.custom-select{
  box-shadow: none;
}

.custom-select:focus{
  border-color: #FC7323;
}

/* boton personalizado */
.btn-naranja{
  background-color: #ff873b;
  border-color: #ff873b;
  color:#FFFFFF;
  font-size: 18px;
	font-weight: 550;
}
.btn-naranja:hover{
  background-color: #FC7323;
  border-color: #FC7323;
  color:#FFFFFF;
  font-size: 18px;
	font-weight: 550;
}
.btn-secondary{
  font-size: 18px !important;
	font-weight: 550 !important;
}

/* fin botones personalizados */

/* modal personalizado*/
.modal-body{
  font-family: 'Calibri';
}
.close, .mailbox-attachment-close{
  opacity: 1;
}
#titulo-modal{
  font-family: 'Hand';
  font-size: 28px;
}
#subtitulo-modal{
  font-size: 22px;
}
#descripcion-modal{
  font-size: 18px;
}
/*Fin estilos modal*/

/*Card personalizada*/
.card-body{
    font-family: 'Calibri';
}

.form-label{
    font-size: 18px;
}
/*Fin estilos card*/

/* steps formulario */
.tab {
  display: none;
}
#regForm {
  margin-top: 20px;
}
.card-ambiente {
  z-index: 0;
  border: none;
  position: relative;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  text-align: center;
  padding-left: 0px;
}
#progressbar .active {
  color: #FC7323;
}
#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}
#informacion_general:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f129";
}
#descripcion_fisica:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f546";
}
#caracteristicas:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0ca";
}
#condiciones_confort:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0ae";
}
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background-color: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background-color: #FC7323;
}
.fit-image {
  width: 100%;
  object-fit: cover;
}
/* Fin steps formulario */

/*Estilos tabla gestionar*/
.table-header{
    background-color: #FC7323;
    color: #FFFFFF;
}

.table-body > tr > td > div > div > a > i{
    color: #FC7323;
}

.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: #FC7323;
    border-color: #FC7323;
}

.page-link:hover {
    z-index: 2;
    color: #FC7323;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: none;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FC7323;
    background-color: #ffffff;
    border: none;
}

.icono-agregar > i{
    color: #FC7323;
}

#icono-v{
    color: #FC7323;
}

/*Fin estilos tabla gestionar*/

/*Estilos alertas*/

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background-color: #FC7323 !important;
    border-color: #FC7323 !important;
    color: #fff;
    font-size: 1.0625em;
}

/*Personalizar boton redondo de gestion de equipos*/
.btn-redondo{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: text-bottom;
    background-color: #f6c23e !important;
    border-radius: 50px;
    text-align: center;
    align-items: center;
}

/* Reportes */
#titulo-reportes{
	font-family: 'Hand';
	font-size: 22px;
	color: #FC7323;
	height: 30px;
	margin-bottom: 10%;
	padding-left: 2px;
}
#subtitulo-reportes{
	margin-top: 10px;
}
#items-reportes{
	height: 35px;
	border: 2px solid #CACFD2;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 3px;
	margin-bottom: 5%;
}
.checkbox-reportes{
  margin-top: -4px;
}
/* Fin Reportes */

/* select multiple */
.select2-selection__choice{
  color: #FFFFFF !important;
}
.select2-selection__choice__remove{
  color: #FFFFFF !important;
}
/* Fin select multiple */

/* Sidebar */
[class*='sidebar-dark-'] {
    background-color: #FC7323;
}

[class*='sidebar-dark-'] .sidebar a {
    color: white;
}

[class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link {
    color: white;
}

[class*='sidebar-dark'] .brand-link {
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
}


[class*='sidebar-dark-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item:hover > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.9);
    color: #FC7323;
}


/* Fin Sidebar*/

/* Scroll */
body::-webkit-scrollbar{
	width: 7px;
}
body::-webkit-scrollbar-thumb{
	background: #fc7323;
	border-radius: 5px;
}
/* Fin Scroll */

/* Campo Obligatorio */
.obligatorio{
  color: #e53935;
}
/* Fin Campo Obligatorio */

/* Validacion Input Incorrecto */
.invalid-input{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}
/* Fin Validacion Input Incorrecto */

/* Botones de Toolbar Fullcalendar */
.btn-group > button,
.fc-today-button,
.fc-reporte-button {
  background-color: #ffa453 !important;
  border-color: #ffa453 !important;
}
.btn-group > button:hover,
.fc-today-button:hover,
.fc-reporte-button:hover {
  background-color: #FC7323 !important;
  border-color: #FC7323 !important;
}
.btn-group > .active {
  background-color: #FC7323 !important;
  border-color: #FC7323 !important;
}
.fc-filtro-button {
  background-color: #FC7323 !important;
  border-color: #FC7323 !important;
}

.fc-daygrid-day-events > .fc-daygrid-event-harness > .fc-daygrid-event > .fc-event-time,
.fc-daygrid-day-events > .fc-daygrid-event-harness > .fc-daygrid-event > .fc-event-title {
  color: rgb(112, 112, 112) !important;
}
/* Fin Botones de Toolbar Fullcalendar */

input[type='number'] {
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance:textfield !important;
}

/* Icono Input Group */
.input-group-text {
  border-radius: 0rem 0.25rem 0.25rem 0rem !important;
  border-left: none !important;
  background-color: transparent !important;
}
/* Fin Icono Input Group */

/* Boton Perfil y Cerrar sesion */
.dropdown-item {
    color: #FC7323 !important;
}
.dropdown-item:active {
    background-color: #FC7323 !important;
    color: #FFFFFF !important;
}
/* Boton Perfil y Cerrar sesion */

.icono-permitir{
    color: #f44336
}
.icono-denegar{
    color: #238276
}

/* Colores Graficas del Tablero */
.bg-azul {
  background-color: #4e73df !important;
  border-color: #4e73df !important;
  color: #ffffff !important;
}
.bg-amarillo {
  background-color: #ffa000 !important;
  border-color: #ffa000 !important;
  color: #ffffff !important;
}
.bg-rosado {
  background-color: #ff6384 !important;
  border-color: #ff6384 !important;
  color: #ffffff !important;
}

/* Modal Registro Sede */
.modal-title {
  font-family: 'Hand';
  float: none;
  color: #FC7323;
  font-size: 22px;
}
/* Eventos del Calendario */
.cursor-evento {
  cursor: pointer !important;
}