@font-face {
    font-family: 'Hand';
    src: url("../fonts/Hand_Of_Sean_Demo.ttf");
}

.sidenav{
    background-color: #FC7323;
}

.sidenav .collapsible,
.sidenav.fixed .collapsible,
.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header{
    background-color: #ffa453;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
}
.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header{
    background-color: #FC7323;
    border-color: #FC7323;
}
.sidenav .collapsible-header:focus,
.sidenav.fixed .collapsible-header{
    background-color: #FC7323;
    border-color: #FC7323;
}
.collapsible-header{
    width: 300px;
}
.collapsible-header > .fas{
    color: #FFFFFF;
}
#encabezado-sidenav{
    height: 64px;
    font-size: 17px;
    text-align: center;
    color: #FC7323;
    font-family: 'Hand';
}
#icon-chevron{
    margin: 0px;
}
.navbar{
    background-color: #FFFFFF;   
}
.sidenav-trigger, .dropdown-trigger > .fas{
    color: #FC7323;
}
#item-user{
   font-size: 17px;
   color: #000000;
}
#icon-user{
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: top;
}
.dropdown-content > li > a{
    background-color: #ffa453;
    border-color: #ffa453;
    color: #FFFFFF;
}
.dropdown-content > li > a:hover{
    background-color: #FC7323;
    border-color: #FC7323;
    color: #FFFFFF;
}

#tittle{
    color: #FC7323;
    font-family: 'Hand';
    font-size: 150%;
}

#side{
    background-color: #FC7323;
}