@font-face {
  font-family: 'HansOfSean';
  src: url("../fonts/Hand_Of_Sean_Demo.ttf");
}

/* Colores Institucionales */
.color-naranja {
  color: #FC7323;
}
/* Fin Colores Institucionales */
body{
  background-color: #FFFFFF !important;
}
body::-webkit-scrollbar{
width: 7px;
}
body::-webkit-scrollbar-thumb{
background: #FC7323;
border-radius: 5px;
}
.navbar-login{
  background-color: #FC7323 !important;
  color: #FFFFFF !important;
}
.item-login{
  color: #FFFFFF;
}
#logotipo_sena{
  width: 70px;
  height: auto;
}
#logotipo-gestion-ambientes{
  width: 70px;
  height: auto;
  float: right;
}
#title-login{
  font-family: 'HansOfSean';
  margin-top: 20px;
}
.nav-register{
  color: rgb(122, 122, 122) !important;
}
.card{
  border-radius: 15px;
  -webkit-box-shadow: -1px 2px 11px -2px rgba(158,158,158,1);
  -moz-box-shadow: -1px 2px 11px -2px rgba(158,158,158,1);
  box-shadow: -1px 2px 11px -2px rgba(158,158,158,1);
  margin-bottom: 8%;
}
.btn-card{
  background-color: #FF873B;
  border-color: #FF873B;
  color:#FFFFFF;
  font-size: 18px;
  font-weight: 550;
}
.btn-card:hover{
  background-color: #FC7323;
  border-color: #FC7323;
  color:#FFFFFF;
  font-size: 18px;
  font-weight: 550;
}
.nav-register{
  font-size: 18px;
}
.nav-register:hover{
  color: #FC7323 !important;
}
.custom-control-label{
  color: rgb(131, 131, 131) !important;
  font-size: 16px;
}
.card-title{
  font-family: 'HansOfSean';
  color: #FC7323 !important;
  margin-bottom: 40px !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus{
  border-color: #FC7323;
  box-shadow: 0px 0px 0px #FC7323;
  outline: 0px none;
}
.custom-control-label::before{
  border-radius: 3px;
  border: 2px solid #FC7323;
}
.custom-control-input:checked ~
.custom-control-label::before{
  border-radius: 3px;
  border-color: #FC7323;
  background: #FC7323;
  color: #FFFFFF;
  box-shadow: none;
}

#alert-size{
  border: 1px solid #FC7323 !important;
  border-radius: 5px;
}
#alerta-registro{
  background-color: #FC7323 !important;
  border-color: #FC7323 !important;
  color: #FFFFFF;
  font-weight: 550;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.modal-dialog{
  margin-left: 33% !important;
}

#btn-alerta-registro{
  color: #FFFFFF;
  line-height: 0.9;
}

#icono-c{
  color: #FC7323;
}

/* footer */
.footer{
  font-family: 'Calibri';
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FC7323;
}
.texto{
  font-size: 1.18rem;
  color: #FFFFFF;
}
.icono{
  color: #FFFFFF;
}
.nuestra-autoria{
  font-family: 'HansOfSean';
  color: #FC7323;
  font-size: 0.8rem;
}
/*Fin Footer*/

/* Icono Input Group */
.input-group-text {
  background-color: transparent !important;
}
/* Fin Icono Input Group */
